@model ThePerfectBatch.Models.Recipe
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}



<div class="row-no-gutters">
    <div class="jumbotron-fluid">
        <img class="img-thumbnail" src="~/@Url.Content(Model.Image)" />
    </div>
    <div class="recipe-content">
        @foreach (var ing in Model.Ingredients)
        {
            <ul class="lead">
                <li>
                    @(ing.Quantity)
                    @(ing.Name)
                </li>
            </ul>
        }
    </div>
</div>
<br />
<h3 class="lead">
    @Html.DisplayNameFor(model => model.Instructions)
</h3>
<p class="lead">
    @Html.DisplayFor(model => model.Instructions)
</p>
<div>
    <br />
    <br />
    <label class="my-2">
        Made by @Html.DisplayFor(model => model.User.Email) on  @Html.DisplayFor(model => model.DateCreated)
    </label>
</div>

@{ if (UserManager.GetUserAsync(User).Result?.Id == Model.UserId)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
}
