@model IEnumerable<ThePerfectBatch.Models.RecipeType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
                @foreach (var recipe in item.Recipes)
                {
                    <td style="display: flex; flex-direction: column;">
                        <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.RecipeId">@(recipe.Name)</a>
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeTypeId">Details</a>
                </td>
</tr>
}
    </tbody>
</table>
